<h1>Listado de Vehiculos</h1>
<div class="boton-salir">
   <button 
        mat-raised-button           
        routerLink="/list">
        Volver
    </button> 
</div>

<br>
<hr>
    

<div class="container"
    fxLayout="row wrap" 
    fxLayout.xs="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="30px">

    <div    class="elemento"         
            fxFlex ='50'
            *ngFor="let vehiculo of car, let i = index" 
            >
            <mat-card>
                <mat-card-header class="margen" > 
                    <mat-card-title >{{ vehiculo.id_zonal  | uppercase}} </mat-card-title>
                </mat-card-header>
                <mat-card-content class="margen">
                    <span>Placa: {{ vehiculo.placa | uppercase }}</span>
                    <br>
                    <span>Modelo: {{ vehiculo.modelo }}</span>
                    <br>
                    <span>Tipo: {{ vehiculo.tipo }}</span>
                </mat-card-content>
                <mat-card-actions class="margen">
                    <button mat-raised-button           
                            color="accent"
                            >
                        Editar
                    </button>
                    
                    <button mat-raised-button 
                            class="margenBoton"
                            color="primary"
                            >
                        Eliminar
                    </button>
            
                </mat-card-actions>
            
            </mat-card>
    </div>
</div>
        
        




